/* Pages styles */
@import "../pages/signin/index.css";

/* Components styles */
@import "../components/navbar/index.css";
@import "../components/mobile-nav/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

.homeWrapper{
    @apply max-w-[1380px] mx-auto;
}