/* Pages styles */
@import "../pages/signin/index.css";

/* Components styles */
@import "../components/navbar/index.css";
@import "../components/mobile-nav/index.css";
@import "../components/items-display/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    background-color: #fcfdfc;
}

.homeWrapper{
    @apply max-w-[1380px] mx-auto px-[18px] lg:px-0;
}

.eWjCzc:hover:enabled, 
.eWjCzc:focus:enabled {
    color: #fff;
    background-color: #1726BD !important;
    box-shadow: 0 0 2px 0 #333;
}